.pics {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 250px;
}

#resultsDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}